.navbar{
    background-color: blueviolet !important;
}
.nav-link{
    color: azure !important;
}
.navbar-brand{
    color: azure !important;
    font-weight: bold;
}
.footer{
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
    color: azure;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.content{
    padding-top: 80px;
}